# Git
.git
.gitignore

# Dependencies
vendor
node_modules

# Local project knowledge base
docs

# Laravel cache
public/hot
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views

# Environment
.env

# IDE
.vscode
.idea

# OS
.DS_Store

# Docker
docker-compose.override.yml

# NPM
npm-debug.log
