/* =========================================================
   LAYOUTS
========================================================= */

@import './layouts/navigation.css';
@import './layouts/footer.css';
@import './layouts/admin-navbar.css';
@import './layouts/admin-footer.css';

/* =========================================================
   AUTH PAGES
========================================================= */

@import './auth/login.css';
@import './auth/register.css';
@import './auth/forgot-password.css';

/* =========================================================
   USER PAGES
========================================================= */

@import './user-page/home.css';
@import './user-page/dashboard.css';
@import './user-page/music.css';
@import './user-page/articles.css';
@import './user-page/articles-show.css';
@import './user-page/comic-show.css';
@import './user-page/gallery.css';
@import './user-page/products.css';
@import './user-page/product-show.css';
@import './user-page/cart.css';
@import './user-page/checkout.css';
@import './user-page/about.css';
@import './user-page/profile.css';

/* =========================================================
   ADMIN PAGES
========================================================= */

@import './admin-page/dashboard.css';
@import './admin-page/music.css';
@import './admin-page/music-create.css';
@import './admin-page/music-edit.css';
@import './admin-page/articles.css';
@import './admin-page/articles-create.css';
@import './admin-page/articles-edit.css';
@import './admin-page/gallery.css';
@import './admin-page/gallery-create.css';
@import './admin-page/gallery-edit.css';
@import './admin-page/products.css';
@import './admin-page/products-create.css';
@import './admin-page/products-edit.css';
@import './admin-page/user.css';
@import './admin-page/user-create.css';
@import './admin-page/user-edit.css';
@import './admin-page/music-vidio.css';
@import './admin-page/music-vidio-create.css';
@import './admin-page/orders.css';
@import './admin-page/order-show.css';

/* =========================================================
   RESET
========================================================= */

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

/* =========================================================
   BODY
========================================================= */

body{
    font-family: 'Poppins', sans-serif;

    background: #f8f8fb;

    color: #222;

    overflow-x: hidden;
}